In [1]:
import graphviz

ModuleNotFoundError: No module named 'graphviz'

In [1]:
import pandas as pd
import os
os.chdir('/media/lnr-ai/christo/github_repos/graphing/')
import hashlib

```
https://www.youtube.com/watch?v=HJ4Hcq3YX4k
https://www.youtube.com/watch?v=2FqM4gKeNO4
```

In [2]:
df=pd.read_csv(filepath_or_buffer='/media/lnr-ai/christo/github_repos/graphing/data/bolt_graph_df.csv')

In [29]:
df['dedupestatic_str']=['d_'+str(int(client)) for client in df.dedupestatic]

In [30]:
list(df)

['dedupestatic',
 'amount',
 'companyname',
 'franchisename',
 'universaldate',
 'dedupestatic_str']

In [65]:
df = df.sample(n=2000)

In [66]:
df_amount=df[['franchisename', 'amount']].groupby('franchisename').sum()
df_amount.rename(columns={'amount':'transaction_amount'}, inplace=True)
df_count=df[['franchisename', 'amount']].groupby('franchisename').count()
df_count.rename(columns={'amount':'transaction_count'}, inplace=True)
select_df=df_amount.merge(df_count, left_index=True, right_index=True)

In [67]:
# df=random_df.copy()

In [68]:
select_df.sort_values(by='transaction_count')

                      transaction_amount  transaction_count
franchisename
A CHINA TOWN                     -210.00                  1
PRETORIA BOY                      -31.00                  1
PRESTONS KBY R                   -100.70                  1
PRESTONS GREEN                   -110.70                  1
PQ CLOTHING RANDBURG             -240.00                  1
...                                  ...                ...
MTN Eazi Rec                     -818.00                 24
TXFY.ME /O/                     -1689.00                 27
UBER SA HELP.U                  -7418.29                 92
TAXIFY SOUTH A                  -8577.00                146
BOLT.EU /O/                     -9582.00                172

[1310 rows x 2 columns]

In [69]:
dedupestatic_list=list(set(df.dedupestatic_str))

In [70]:
# dedupestatic_list=['d_'+str(int(client)) for client in dedupestatic_list]

In [71]:
client_labels=dedupestatic_list
clients=['client']*len(dedupestatic_list)
client_id=list(range(len(clients)))

In [72]:
len(clients)

1821

In [73]:
client_node_df=pd.DataFrame(data={'Id':client_id, 'Label':client_labels})

In [74]:
# client_node_df['Id']=client_node_df['identifier'].apply(lambda x:hashlib.sha256(str(x).encode()).hexdigest())

In [75]:
client_node_df.to_csv(path_or_buf='/media/lnr-ai/christo/github_repos/graphing/data/client_node_df.csv', index=False)

In [76]:
list(range(12,20))

[12, 13, 14, 15, 16, 17, 18, 19]

In [77]:
franchise_labels=list(set(df.franchisename))
franchise_id=list(range(len(client_id),len(client_id)+len(franchise_labels)))
# Labels=['franchise']*len(franchisename_list)
# clients=dedupestatic_list
# franchises=list(set(df.franchisename))

In [78]:
print(client_id[-1],franchise_id[0], len(franchise_id), len(franchise_labels))

1820 1821 1310 1310

In [79]:
max(franchise_id)

3130

In [80]:
franchise_node_df=pd.DataFrame(data={'Id':franchise_id, 'Label':franchise_labels})

In [81]:
franchise_node_df.to_csv(path_or_buf='/media/lnr-ai/christo/github_repos/graphing/data/franchise_node_df.csv', index=False)

In [82]:
# franchise_node_df['Id']=franchise_node_df['identifier'].apply(lambda x:hashlib.sha256(str(x).encode()).hexdigest())

In [83]:
node_df=client_node_df.append(franchise_node_df)

In [84]:
node_df

        Id           Label
0        0  d_110193707500
1        1  d_191279034427
2        2  d_191425306107
3        3  d_211188030504
4        4  d_146356547217
...    ...             ...
1305  3126  PnP Crp Hydepa
1306  3127  PUMA LANSDOWNE
1307  3128  Nandos Rondebo
1308  3129    ENGEN LYTTEL
1309  3130     BIRD AND CO

[3131 rows x 2 columns]

In [85]:
node_df.to_csv(path_or_buf='/media/lnr-ai/christo/github_repos/graphing/data/node_bolt_graph_df.csv', index=False)

In [86]:
edge_df=df.merge(client_node_df[['Label','Id']], left_on='dedupestatic_str', right_on='Label')

In [87]:
edge_df.pop('Label')

0       d_211613566434
1       d_211613566434
2       d_211592209508
3       d_211654829303
4       d_191894282800
             ...
1995    d_110147031001
1996    d_211156514008
1997    d_194050250601
1998    d_211090282503
1999    d_211485795206
Name: Label, Length: 2000, dtype: object

In [88]:
# edge_df.pop('identifier')
edge_df.rename(columns={'Id':'Source'}, inplace=True)

In [89]:
list(edge_df)

['dedupestatic',
 'amount',
 'companyname',
 'franchisename',
 'universaldate',
 'dedupestatic_str',
 'Source']

In [90]:
franchise_node_df[['Label','Id']]

               Label    Id
0     MCD Auckland P  1821
1       WOOLWORTHS N  1822
2       PIRATES STEA  1823
3          DECATHLON  1824
4     TELEMOTORS S/S  1825
...              ...   ...
1305  PnP Crp Hydepa  3126
1306  PUMA LANSDOWNE  3127
1307  Nandos Rondebo  3128
1308    ENGEN LYTTEL  3129
1309     BIRD AND CO  3130

[1310 rows x 2 columns]

In [91]:
edge_df=edge_df.merge(franchise_node_df[['Label','Id']], left_on='franchisename', right_on='Label')

In [92]:
# edge_df.pop('identifier')
edge_df.rename(columns={'Id':'Target'}, inplace=True)

In [93]:
edge_df.pop('Label')

0             TAXIFY SOUTH A
1             TAXIFY SOUTH A
2             TAXIFY SOUTH A
3             TAXIFY SOUTH A
4             TAXIFY SOUTH A
                ...
1995          BOXER SS YEOVI
1996          RELIANCE TEA I
1997          CYRILDENE SERV
1998    LIQUOR CITY KUILS RI
1999            BIG TIME SUP
Name: Label, Length: 2000, dtype: object

In [94]:

edge_df=edge_df[~edge_df.duplicated(subset=['Target','Source'], keep='first')]

In [95]:
list(edge_df)

['dedupestatic',
 'amount',
 'companyname',
 'franchisename',
 'universaldate',
 'dedupestatic_str',
 'Source',
 'Target']

In [96]:
edge_df[['Source','Target']].to_csv(path_or_buf='/media/lnr-ai/christo/github_repos/graphing/data/edge_bolt_graph_df.csv', index=False)