https://neo4j.com/docs/graph-data-science/current/algorithms/louvain/

https://towardsdatascience.com/louvain-algorithm-93fde589f58c

In [1]:
import pandas as pd
from py2neo import Graph
graph = Graph("bolt://localhost:7687", user='neo4j', password='newPassword')
# graph = Graph()

In [2]:
graph.run("CALL db.schema.visualization()").data()

[{'nodes': [(_-5:Merchant {constraints: ['CONSTRAINT ON ( merchant:Merchant ) ASSERT (merchant.franchisename) IS UNIQUE'], indexes: [], name: 'Merchant'}),
   (_-4:Client {constraints: ['CONSTRAINT ON ( client:Client ) ASSERT (client.dedupestatic) IS UNIQUE'], indexes: [], name: 'Client'}),
   (_-6:Segment {constraints: ['CONSTRAINT ON ( segment:Segment ) ASSERT (segment.seg_l3_num) IS UNIQUE'], indexes: [], name: 'Segment'})],
  'relationships': [(Client)-[:TRANSACTED_AT {}]->(Merchant),
   (Merchant)-[:MERCHANT_VALUE_LINK {}]->(Merchant),
   (Merchant)-[:MERCHANT_LINK {}]->(Merchant),
   (Merchant)-[:MERCHANT_FEET_LINK {}]->(Merchant)]}]

Louvain is an unsupervised algorithm (does not require the input of the number of communities nor their sizes before execution) divided in 2 phases: Modularity Optimization and Community Aggregation.

In [3]:
louvain_query="""
CALL gds.louvain.stream({
    nodeProjection: 'Merchant',
    relationshipProjection: {
        TYPE: {
            type: 'MERCHANT_FEET_LINK',
            orientation: 'undirected',
            aggregation: 'NONE'
        }
    },
    includeIntermediateCommunities: true
}) YIELD nodeId, communityId, intermediateCommunityIds
RETURN gds.util.asNode(nodeId).franchisename AS franchisename, 
gds.util.asNode(nodeId).companyname AS companyname,
communityId, intermediateCommunityIds
ORDER BY franchisename ASC
"""
df=graph.run(louvain_query).to_data_frame()

In [4]:
df

,franchisename,companyname,communityId,intermediateCommunityIds
0,"""DEBONAIRS BELLVILLE""",DEBONAIRS,50587,"[50587, 50587, 50587]"
1,*ACKERMANS,ACKERMANS,89041,"[89041, 89041, 89041]"
2,*ACKERMANS SWAKOP WATERF,ACKERMANS,57479,"[57479, 57479, 57479]"
3,*AHK MOTOR SPARES CC,SPAR,36071,"[36071, 36071, 36071]"
4,*AHK MOTOR SPARES CC JO,SPAR,34087,"[34087, 34087, 34087]"
...,...,...,...,...
91937,www.game.com.tw,GAME,27347,"[27347, 27347, 27347]"
91938,www.sparkhaus-shop.com,SPAR,7429,"[7429, 7429, 7429]"
91939,xmglobal limit,XMGLOBAL,72124,"[72124, 72124, 72124]"
91940,xmglobal limited,XMGLOBAL,17916,"[17916, 17916, 17916]"
91941,zara.com,ZARA,31857,"[31857, 31857, 31857]"

In [5]:
df=df[df.companyname.isin(['DISCHEM', 'CLICKS'])].copy()

In [7]:
df

,franchisename,companyname,communityId,intermediateCommunityIds
20051,CLICKS,CLICKS,42607,"[42607, 42607, 42607]"
20052,CLICKS A/,CLICKS,86853,"[86853, 86853, 86853]"
20053,CLICKS DU,CLICKS,89815,"[89815, 89815, 89815]"
20054,CLICKS DUNES,CLICKS,28502,"[28502, 28502, 28502]"
20055,CLICKS KE,CLICKS,85660,"[85660, 85660, 85660]"
...,...,...,...,...
91847,payD Zapper*Dis-Chem L,DISCHEM,45453,"[45453, 45453, 45453]"
91848,payD Zapper*Dis-Chem M,DISCHEM,50169,"[50169, 50169, 50169]"
91849,payD Zapper*Dis-Chem O,DISCHEM,45793,"[45793, 45793, 45793]"
91850,payD Zapper*Dis-Chem P,DISCHEM,43897,"[43897, 43897, 43897]"
91851,payD Zapper*Dis-Chem R,DISCHEM,41257,"[41257, 41257, 41257]"

In [6]:
len(set(df[df.companyname=="DISCHEM"].communityId))

211

In [8]:
len(set(df[df.companyname=="CLICKS"].communityId))

180

In [13]:
df[df.communityId==40007]

,franchisename,companyname,communityId,intermediateCommunityIds
20072,CLICKS ACORNHOEK MALL,CLICKS,40007,"[40007, 40007, 40007]"
20074,CLICKS ADDERLEY STREET,CLICKS,40007,"[40007, 40007, 40007]"
20076,CLICKS ALBERTON,CLICKS,40007,"[40007, 40007, 40007]"
20077,CLICKS AMAJUBA MALL,CLICKS,40007,"[40007, 40007, 40007]"
20078,CLICKS ANCHOR BAY,CLICKS,40007,"[40007, 40007, 40007]"
...,...,...,...,...
27317,DISCHEM WOODLANDS,DISCHEM,40007,"[40007, 40007, 40007]"
27318,DISCHEM WOODLANDS BOULEVA,DISCHEM,40007,"[40007, 40007, 40007]"
27319,DISCHEM WOODMEAD,DISCHEM,40007,"[40007, 40007, 40007]"
27320,DISCHEM WORCESTER,DISCHEM,40007,"[40007, 40007, 40007]"
27321,DISCHEM ZEVENWACHT,DISCHEM,40007,"[40007, 40007, 40007]"

In [ ]:
list(df[df.companyname=="DISCHEM"].communityId)

In [10]:
import collections

In [11]:
print(collections.Counter(list(df.communityId)).most_common())

[(16764, 1333), (40007, 619), (22975, 604), (16010, 332), (35760, 116), (28502, 22), (88381, 2), (89791, 2), (21878, 2), (42607, 1), (86853, 1), (89815, 1), (85660, 1), (89670, 1), (83471, 1), (45143, 1), (83596, 1), (87643, 1), (33587, 1), (36811, 1), (85319, 1), (90325, 1), (89925, 1), (87612, 1), (83385, 1), (89279, 1), (48866, 1), (86368, 1), (89571, 1), (86661, 1), (83082, 1), (65077, 1), (85671, 1), (89023, 1), (88105, 1), (62988, 1), (88506, 1), (50031, 1), (90490, 1), (84939, 1), (34372, 1), (81270, 1), (65589, 1), (88310, 1), (57526, 1), (88348, 1), (86701, 1), (53693, 1), (82931, 1), (9429, 1), (51942, 1), (32087, 1), (28979, 1), (51856, 1), (84137, 1), (89450, 1), (86702, 1), (85560, 1), (83470, 1), (89563, 1), (89068, 1), (58967, 1), (87791, 1), (91181, 1), (32301, 1), (47497, 1), (5842, 1), (29757, 1), (49608, 1), (2517, 1), (40757, 1), (4530, 1), (22141, 1), (41594, 1), (23953, 1), (19111, 1), (5182, 1), (11076, 1), (36165, 1), (10765, 1), (7424, 1), (6011, 1), (32670, 1), (37028, 1), (32476, 1), (10565, 1), (43700, 1), (39254, 1), (3431, 1), (24048, 1), (34170, 1), (50613, 1), (38960, 1), (37853, 1), (87276, 1), (43444, 1), (41058, 1), (5850, 1), (11579, 1), (7192, 1), (2310, 1), (30046, 1), (34068, 1), (26158, 1), (43651, 1), (4115, 1), (43476, 1), (37273, 1), (44504, 1), (31440, 1), (2543, 1), (37551, 1), (44414, 1), (39702, 1), (2653, 1), (32948, 1), (40766, 1), (30221, 1), (41607, 1), (50455, 1), (38119, 1), (41843, 1), (37924, 1), (5240, 1), (56441, 1), (21141, 1), (43227, 1), (3482, 1), (5426, 1), (21966, 1), (2523, 1), (65261, 1), (5813, 1), (11264, 1), (24852, 1), (42091, 1), (24116, 1), (29578, 1), (32814, 1), (6331, 1), (41080, 1), (2429, 1), (39034, 1), (35293, 1), (34839, 1), (25497, 1), (47412, 1), (34327, 1), (11736, 1), (37724, 1), (34192, 1), (64930, 1), (29925, 1), (6304, 1), (7460, 1), (38362, 1), (29275, 1), (17106, 1), (41699, 1), (48136, 1), (39247, 1), (37048, 1), (49808, 1), (43341, 1), (23985, 1), (42092, 1), (33840, 1), (34432, 1), (5695, 1), (33846, 1), (38006, 1), (5659, 1), (53394, 1), (30296, 1), (29190, 1), (50452, 1), (10965, 1), (51454, 1), (87168, 1), (87172, 1), (50778, 1), (3807, 1), (56893, 1), (1790, 1), (85621, 1), (44684, 1), (3107, 1), (55080, 1), (86520, 1), (13717, 1), (66773, 1), (10522, 1), (52692, 1), (89222, 1), (11520, 1), (66856, 1), (85864, 1), (35569, 1), (89814, 1), (90347, 1), (49761, 1), (67197, 1), (50236, 1), (10211, 1), (53333, 1), (48981, 1), (88441, 1), (50827, 1), (57593, 1), (34002, 1), (9176, 1), (50731, 1), (83052, 1), (87129, 1), (91558, 1), (63187, 1), (86470, 1), (49613, 1), (11137, 1), (91042, 1), (88344, 1), (86966, 1), (89097, 1), (85737, 1), (86439, 1), (50790, 1), (90588, 1), (44337, 1), (40946, 1), (90756, 1), (88517, 1), (54193, 1), (56679, 1), (54901, 1), (88469, 1), (31154, 1), (49302, 1), (50115, 1), (67347, 1), (50876, 1), (90019, 1), (48147, 1), (32486, 1), (84855, 1), (34167, 1), (32214, 1), (36637, 1), (32738, 1), (88025, 1), (9616, 1), (47695, 1), (86874, 1), (55867, 1), (84888, 1), (39181, 1), (10723, 1), (32389, 1), (91797, 1), (66851, 1), (50852, 1), (37586, 1), (49548, 1), (58275, 1), (88947, 1), (47978, 1), (44595, 1), (33005, 1), (84962, 1), (3508, 1), (87974, 1), (86900, 1), (86816, 1), (88449, 1), (67490, 1), (84484, 1), (37653, 1), (90489, 1), (83524, 1), (33974, 1), (89975, 1), (91493, 1), (65407, 1), (67014, 1), (47803, 1), (2883, 1), (89315, 1), (86906, 1), (33619, 1), (84507, 1), (89564, 1), (54098, 1), (84913, 1), (83076, 1), (47012, 1), (30063, 1), (55062, 1), (30719, 1), (55696, 1), (86393, 1), (86804, 1), (88031, 1), (86106, 1), (85589, 1), (28364, 1), (88885, 1), (65521, 1), (83822, 1), (51183, 1), (32844, 1), (88888, 1), (5948, 1), (47349, 1), (48009, 1), (56859, 1), (87892, 1), (46385, 1), (6760, 1), (84454, 1), (55538, 1), (83104, 1), (84437, 1), (3903, 1), (90414, 1), (51087, 1), (50373, 1), (88363, 1), (85890, 1), (89384, 1), (37280, 1), (47370, 1), (87963, 1), (85964, 1), (88060, 1), (38548, 1), (23339, 1), (48848, 1), (19346, 1), (41256, 1), (46029, 1), (64233, 1), (91047, 1), (88858, 1), (46713, 1), (86585, 1), (59618, 1), (19066, 1), (89318, 1), (2855, 1), (63474, 1), (83843, 1), (55585, 1), (46934, 1), (38987, 1), (60007, 1), (89198, 1), (91155, 1), (42780, 1), (89474, 1), (85218, 1), (26686, 1), (86117, 1), (88726, 1), (29724, 1), (90067, 1), (32963, 1), (86577, 1), (84089, 1), (90999, 1), (36650, 1), (66932, 1), (43572, 1), (28903, 1), (50619, 1), (28573, 1), (54112, 1), (53874, 1), (52855, 1), (45453, 1), (50169, 1), (45793, 1), (43897, 1), (41257, 1)]

In [16]:
df[df.communityId==88381]

        franchisename companyname  communityId intermediateCommunityIds
20066      CLICKS  SW      CLICKS        88381    [88381, 88381, 88381]
27022  DIS-CHEM SWAKO     DISCHEM        88381    [88381, 88381, 88381]

In [14]:
df[df.franchisename=="DIS-CHEM DAINFERN"]

           franchisename companyname  communityId intermediateCommunityIds
26590  DIS-CHEM DAINFERN     DISCHEM        16764    [13327, 13327, 16764]

In [15]:
df[df.communityId.isin([16764, 13327])]

,franchisename,companyname,communityId,intermediateCommunityIds
20068,CLICKS TH,CLICKS,16764,"[60513, 13327, 16764]"
20134,CLICKS CARNIVA,CLICKS,16764,"[18274, 13327, 16764]"
20136,CLICKS CARNIVALMALLNCC,CLICKS,16764,"[18274, 13327, 16764]"
20137,CLICKS CARNIVALMALLNCCVAL,CLICKS,16764,"[18274, 13327, 16764]"
20161,CLICKS CROWT,CLICKS,16764,"[13327, 13327, 16764]"
...,...,...,...,...
91482,ZAPDisChemNicolw,DISCHEM,16764,"[49576, 13327, 16764]"
91488,ZAPDischemAtho,DISCHEM,16764,"[13327, 13327, 16764]"
91489,ZAPDischemAtholO,DISCHEM,16764,"[13327, 13327, 16764]"
91803,http://www.clicks.co.z,CLICKS,16764,"[13327, 13327, 16764]"
91804,http://www.dischemonli,DISCHEM,16764,"[13327, 13327, 16764]"