In [1]:
import pandas as pd
from py2neo import Graph
graph = Graph("bolt://localhost:7687", user='neo4j', password='neo4j')
# graph = Graph()

In [2]:
# filepath_or_buffer='/media/lnr-ai/christo/github_repos/graphing/data/clientswipes_201701_01.csv'
# df=pd.read_csv(filepath_or_buffer=filepath_or_buffer)
# df=df[~df.companyname.isnull()].copy()

#### Peek into the file:

In [3]:
filename='/var/lib/neo4j/import/clientswipes_202003.csv'
data = pd.read_csv(filename,nrows=10)

In [4]:
list(data)

['_id',
 'Dedupegroup',
 'Seg_L3_Num',
 'Seg_L3_STR',
 'TransactionAmount',
 'TransactionDate',
 'companyindex',
 'companyname',
 'franchisename',
 'period',
 'channel',
 'class_id',
 'dayname',
 'db',
 'dbprefix',
 'discretionary',
 'division_id',
 'group_id',
 'month',
 'subclass_id',
 'universaldate',
 'weekday',
 'weekth']

In [5]:
data

,_id,Dedupegroup,Seg_L3_Num,Seg_L3_STR,TransactionAmount,TransactionDate,companyindex,companyname,franchisename,period,...,db,dbprefix,discretionary,division_id,group_id,month,subclass_id,universaldate,weekday,weekth
0,ObjectId(5e93f2fa29010000bebe795c),1.463155e+11,1,BOE,-329.14,2020-03-01T00:00:00.000Z,6.0,PNP,PnP Crp Mall of Sout OUT,202003,...,CMProd202003,CMProd,0.0,47.0,471.0,3,47110.0,1,6,1
1,ObjectId(5e93f2fa29010000bebe795d),1.911182e+11,1,BOE,-67.57,2020-03-01T00:00:00.000Z,6.0,PNP,PNP CRP KILLARNEY,202003,...,CMProd202003,CMProd,0.0,47.0,471.0,3,47110.0,1,6,1
2,ObjectId(5e93f2fa29010000bebe795e),1.911182e+11,1,BOE,-109.00,2020-03-01T00:00:00.000Z,177.0,PLAYSTATIONNET,PLAYSTATIONNETWORK,202003,...,CMProd202003,CMProd,2.0,47.0,478.0,3,47810.0,1,6,1
3,ObjectId(5e93f2fa29010000bebe795f),1.911182e+11,1,BOE,-68.61,2020-03-01T00:00:00.000Z,11.0,WOOLWORTHS,WOOLWORTHS KILLARNEY MA,202003,...,CMProd202003,CMProd,1.0,47.0,471.0,3,47110.0,1,6,1
4,ObjectId(5e93f2fa29010000bebe7960),1.100722e+11,1,BOE,-597.00,2020-03-01T00:00:00.000Z,102.0,AFRIHOST,I AFRIHOST.COM,202003,...,CMProd202003,CMProd,2.0,63.0,631.0,3,63110.0,1,6,1
5,ObjectId(5e93f2fa29010000bebe7961),1.100216e+11,1,BOE,-305.00,2020-03-01T00:00:00.000Z,179.0,OCEAN BASKET,OCEAN BASKET MELROSE ARCH,202003,...,CMProd202003,CMProd,2.0,56.0,561.0,3,56109.0,1,6,1
6,ObjectId(5e93f2fa29010000bebe7962),1.910786e+11,1,BOE,-423.90,2020-03-01T00:00:00.000Z,111.0,UBER EATS,UBER EATS,202003,...,CMProd202003,CMProd,2.0,56.0,561.0,3,56109.0,1,6,1
7,ObjectId(5e93f2fa29010000bebe7963),1.911321e+11,1,BOE,-245.00,2020-03-01T00:00:00.000Z,15.0,UBER,UBER SA HELP.UBER.COM,202003,...,CMProd202003,CMProd,1.0,49.0,492.0,3,49222.0,1,6,1
8,ObjectId(5e93f2fa29010000bebe7964),1.910456e+11,1,BOE,-221.61,2020-03-01T00:00:00.000Z,NaN,NaN,TST* THE BUTCHER S DAUGHT,202003,...,CMProd202003,CMProd,NaN,NaN,NaN,3,NaN,1,6,1
9,ObjectId(5e93f2fa29010000bebe7965),1.910456e+11,1,BOE,-863.84,2020-03-01T00:00:00.000Z,15.0,UBER,UBER TRIP,202003,...,CMProd202003,CMProd,1.0,49.0,492.0,3,49222.0,1,6,1

In [ ]:
# crimes_header.csv
filename='/var/lib/neo4j/import/beats.csv'
beats = pd.read_csv(filename,nrows=10)
beats

In [ ]:
# crimes_header.csv
filename='/var/lib/neo4j/import/crimes_header.csv'
crimes_header_csv = pd.read_csv(filename,nrows=10)
crimes_header_csv

In [ ]:
filename='/var/lib/neo4j/import/crimes.csv'
crimes_csv = pd.read_csv(filename,nrows=10)
crimes_csv

In [ ]:
import csv
filename='/media/lnr-ai/christo/github_repos/graphing/data/clientswipes_202003_neo4j.csv'
with open(filename) as csv_file:
    csv_reader = csv.reader(csv_file, delimiter=',')
    line_count = 0

In [ ]:
    for row in csv_reader:
        if line_count == 0:
            print(f'Column names are {", ".join(row)}')
            line_count += 1
        else:
            print(f'\t{row[0]} works in the {row[1]} department, and was born in {row[2]}.')
            line_count += 1
    print(f'Processed {line_count} lines.')

In [ ]:
dedupegroup_list=list(set(df.Dedupegroup))

In [ ]:
for dedupestatic in list(set(dedupegroup_list)):
    print('Doing dedupestatic: ', dedupestatic, ' at index: ', dedupegroup_list.index(dedupestatic), ' of ', len(dedupegroup_list))        
    client_param_dict={"dedupestatic":dedupestatic}
    graph.run("MERGE (client:Client {dedupestatic:{dedupestatic}})", client_param_dict)

In [ ]:
for dedupe in dedupegroup_list:
    gf=df[df.Dedupegroup==dedupe].copy()
    print('Doing dedupestatic: ', dedupe, ' at index: ', dedupegroup_list.index(dedupe), ' of ', len(dedupegroup_list))    
    for dedupestatic,companyname,franchisename,companyindex,class_id,discretionary,division_id,group_id,subclass_id,channel,TransactionAmount,TransactionDate in zip(gf.Dedupegroup, gf.companyname, gf.franchisename,gf.companyindex,gf.class_id,gf.discretionary,gf.division_id,gf.group_id,gf.subclass_id,gf.channel,gf.TransactionAmount,gf.TransactionDate):

        client_param_dict={"dedupestatic":dedupestatic}
        company_param_dict={"companyname":companyname,
                  "franchisename":franchisename,
                  "companyindex":companyindex,
                  "class_id":class_id,
                  "discretionary":discretionary,
                  "division_id":division_id,
                  "group_id":group_id,
                  "subclass_id":subclass_id,
                  "channel":channel}
        franchise_param_dict={
              "franchisename":franchisename,"companyname":companyname,}
        transaction_param_dict={"dedupestatic":dedupestatic,
              "franchisename":franchisename,
    #           "companyindex":companyindex,
              "amount":amount,
              "date":date}
        owner_param_dict={"companyname":companyname,
              "franchisename":franchisename}
    #   ------------------------------------------------------------------------------------------
        graph.run("MERGE (client:Client {dedupestatic:{dedupestatic}})", client_param_dict)
    #   ------------------------------------------------------------------------------------------    
        graph.run("""MERGE (franchise:Franchise 
        {
        franchisename:{franchisename},
        companyname:{companyname}})
        """, franchise_param_dict)
    #   ------------------------------------------------------------------------------------------
        graph.run("""
        MERGE (company:Company 
        {
        companyname: {companyname}, 
        companyindex: {companyindex}}) ON CREATE SET company.channel={channel},
        company.class_id={class_id},
        company.discretionary={discretionary},
        company.division_id={division_id},
        company.group_id={group_id},
        company.subclass_id={subclass_id},
        company.channel={channel}
        """, company_param_dict)
    #   ------------------------------------------------------------------------------------------
        graph.run("""MATCH (client:Client {dedupestatic:{dedupestatic}}),(franchise:Franchise { franchisename: {franchisename} })
        MERGE (client)-[t:transacted]->(franchise)
        ON CREATE SET t.amount=[{amount}], t.date=[{date}]
        ON MATCH SET t.amount=t.amount+{amount}, t.date=t.date+{date}""", transaction_param_dict)
    #   ------------------------------------------------------------------------------------------
        graph.run("""MATCH (franchise:Franchise {franchisename:{franchisename}}),(company:Company { companyname: {companyname} })
        MERGE (franchise)-[t:owned]->(company)""", owner_param_dict)

In [ ]:
dedupestatic=dedupegroup_list[0]
companyname=list(gf.companyname)[0]
franchisename=list(gf.franchisename)[0]
companyindex=list(gf.companyindex)[0]
class_id=list(gf.class_id)[0]
discretionary=list(gf.discretionary)[0]
division_id=list(gf.division_id)[0]
group_id=list(gf.group_id)[0]
subclass_id=list(gf.subclass_id)[0]
channel=list(gf.channel)[0]
amount=list(gf.TransactionAmount)[0]
date=list(gf.TransactionDate)[0]
# companyindex=list(gf.companyindex)[0]
# class_id=list(gf.class_id)[0]
# discretionary=list(gf.discretionary)[0]
# division_id=list(gf.division_id)[0]
# group_id=list(gf.group_id)[0]
# subclass_id=list(gf.subclass_id)[0]
# channel=list(gf.channel)[0]

In [ ]:
client_param_dict={"dedupestatic":dedupestatic}

In [ ]:
company_param_dict={"companyname":companyname,
          "franchisename":franchisename,
          "companyindex":companyindex,
          "class_id":class_id,
          "discretionary":discretionary,
          "division_id":division_id,
          "group_id":group_id,
          "subclass_id":subclass_id,
          "channel":channel}

In [ ]:
franchise_param_dict={
          "franchisename":franchisename,"companyname":companyname,}

In [ ]:
transaction_param_dict={"dedupestatic":dedupestatic,
          "franchisename":franchisename,
#           "companyindex":companyindex,
          "amount":amount,
          "date":date}

In [ ]:
owner_param_dict={"companyname":companyname,
          "franchisename":franchisename}

In [ ]:
graph.run("MERGE (client:Client {dedupestatic:{dedupestatic}})", client_param_dict)

In [ ]:
graph.run("""
MERGE (franchise:Franchise 
{
franchisename:{franchisename},
companyname:{companyname}})
""", franchise_param_dict)

In [ ]:
graph.run("""
MERGE (company:Company 
{
companyname: {companyname}, 
companyindex: {companyindex}}) ON CREATE SET company.channel={channel},
company.class_id={class_id},
company.discretionary={discretionary},
company.division_id={division_id},
company.group_id={group_id},
company.subclass_id={subclass_id},
company.channel={channel}
""", company_param_dict)

In [ ]:
graph.run("""MATCH (client:Client {dedupestatic:{dedupestatic}}),(franchise:Franchise { franchisename: {franchisename} })
MERGE (client)-[t:transacted]->(franchise)
ON CREATE SET t.amount=[{amount}], t.date=[{date}]
ON MATCH SET t.amount=t.amount+{amount}, t.date=t.date+{date}""", transaction_param_dict)

In [ ]:
graph.run("""MATCH (franchise:Franchise {franchisename:{franchisename}}),(company:Company { companyname: {companyname} })
MERGE (franchise)-[t:owned]->(company)""", owner_param_dict)