In [26]:
import pandas as pd
from py2neo import Graph
graph = Graph("bolt://localhost:7687", user='neo4j', password='neo4j')
import numpy as np
import random

In [2]:
# filepath_or_buffer='/media/lnr-ai/christo/github_repos/graphing/data/clientswipes_201701_01.csv'
# df=pd.read_csv(filepath_or_buffer=filepath_or_buffer)
# df=df[~df.companyname.isnull()].copy()

#### Peek into the file:

In [191]:
filename='/var/lib/neo4j/import/clientswipes_202003.csv'
data = pd.read_csv(filename,nrows=100)

In [192]:
clientlist=[1,2,3,4,5,6,7,8,9,10]

In [193]:
Dedupegroup=[item for item in clientlist for i in range(10)]

## Case 1

Two distinct closters of merchant with no bridging:

In [194]:
companylist=["PNP","SPAR", "CHECKERS","WOOLWORTHS","TOTAL"]
franchiselist=["BENMORE","SANDTON"]

In [195]:
companylist=["PNP","SPAR", "CHECKERS","WOOLWORTHS","TOTAL"]
franchiselist=["BENMORE","SANDTON","WOODMEAD","COLUMBINE"]
benmore_list=[c + " " +"BENMORE" for c in companylist]
sandton_list=[c + " " +"SANDTON" for c in companylist]

In [196]:
franchisenames=[item for item in benmore_list for i in range(10)]
random.shuffle(franchisenames)
blist=[item for item in sandton_list for i in range(10)]
random.shuffle(blist)
franchisenames.extend(blist)

In [198]:
companynames=[str.split(franchise)[0] for franchise in franchisenames]

In [199]:
sandboxdf=data.copy()
sandboxdf.Dedupegroup=Dedupegroup
sandboxdf.companyname=companynames
sandboxdf.franchisename=franchisenames
sandboxdf[['Dedupegroup','franchisename']]

    Dedupegroup       franchisename
0             1    CHECKERS BENMORE
1             1       TOTAL BENMORE
2             1         PNP BENMORE
3             1       TOTAL BENMORE
4             1       TOTAL BENMORE
..          ...                 ...
95           10    CHECKERS SANDTON
96           10    CHECKERS SANDTON
97           10       TOTAL SANDTON
98           10  WOOLWORTHS SANDTON
99           10         PNP SANDTON

[100 rows x 2 columns]

In [200]:
sandboxdf.loc[sandboxdf.companyname=="CHECKERS", "companyindex"]=1
sandboxdf.loc[sandboxdf.companyname=="PNP", "companyindex"]=2
sandboxdf.loc[sandboxdf.companyname=="SPAR", "companyindex"]=3
sandboxdf.loc[sandboxdf.companyname=="TOTAL", "companyindex"]=4
sandboxdf.loc[sandboxdf.companyname=="WOOLWORTHS", "companyindex"]=5

In [201]:
sandboxdf[['companyname','companyindex','Dedupegroup','franchisename']]

   companyname  companyindex  Dedupegroup       franchisename
0     CHECKERS           1.0            1    CHECKERS BENMORE
1        TOTAL           4.0            1       TOTAL BENMORE
2          PNP           2.0            1         PNP BENMORE
3        TOTAL           4.0            1       TOTAL BENMORE
4        TOTAL           4.0            1       TOTAL BENMORE
..         ...           ...          ...                 ...
95    CHECKERS           1.0           10    CHECKERS SANDTON
96    CHECKERS           1.0           10    CHECKERS SANDTON
97       TOTAL           4.0           10       TOTAL SANDTON
98  WOOLWORTHS           5.0           10  WOOLWORTHS SANDTON
99         PNP           2.0           10         PNP SANDTON

[100 rows x 4 columns]

In [202]:
df=sandboxdf.sample(n=60)

In [ ]:
df[['companyname','companyindex','Dedupegroup','franchisename']]

In [204]:
df.to_csv(path_or_buf='/media/lnr-ai/christo/github_repos/graphing/data/clientswipes_202003_sandbox_case1.csv',index=False)

## Case 2

In [208]:
filename='/var/lib/neo4j/import/clientswipes_202003.csv'
data = pd.read_csv(filename,nrows=100)
clientlist=[1,2,3,4,5,6,7,8,9,10]
Dedupegroup=[item for item in clientlist for i in range(10)]

In [209]:
companylist=["PNP","SPAR", "CHECKERS","WOOLWORTHS","TOTAL"]
franchiselist=["BENMORE","SANDTON","WOODMEAD","COLUMBINE"]
benmore_list=[c + " " +"BENMORE" for c in companylist]
sandton_list=[c + " " +"SANDTON" for c in companylist]

In [210]:
franchisenames=[item for item in benmore_list for i in range(10)]
random.shuffle(franchisenames)
blist=[item for item in sandton_list for i in range(10)]
random.shuffle(blist)
franchisenames.extend(blist)
companynames=[str.split(franchise)[0] for franchise in franchisenames]

In [211]:
sandboxdf=data.copy()
sandboxdf.Dedupegroup=Dedupegroup
sandboxdf.companyname=companynames
sandboxdf.franchisename=franchisenames
sandboxdf[['Dedupegroup','franchisename']]

    Dedupegroup       franchisename
0             1         PNP BENMORE
1             1       TOTAL BENMORE
2             1    CHECKERS BENMORE
3             1        SPAR BENMORE
4             1         PNP BENMORE
..          ...                 ...
95           10        SPAR SANDTON
96           10  WOOLWORTHS SANDTON
97           10        SPAR SANDTON
98           10       TOTAL SANDTON
99           10    CHECKERS SANDTON

[100 rows x 2 columns]

In [212]:
sandboxdf.loc[sandboxdf.companyname=="CHECKERS", "companyindex"]=1
sandboxdf.loc[sandboxdf.companyname=="PNP", "companyindex"]=2
sandboxdf.loc[sandboxdf.companyname=="SPAR", "companyindex"]=3
sandboxdf.loc[sandboxdf.companyname=="TOTAL", "companyindex"]=4
sandboxdf.loc[sandboxdf.companyname=="WOOLWORTHS", "companyindex"]=5

In [226]:
df=sandboxdf.sample(n=60)

In [227]:
add_dict=df[df.Dedupegroup==2].iloc[1].to_dict()

In [229]:
add_dict['companyindex']=1
add_dict['companyname']="CHECKERS"
add_dict['franchisename']="CHECKERS SANDTON"

In [230]:
add_dict

{'_id': 'ObjectId(5e93f2fa29010000bebe796b)',
 'Dedupegroup': 2,
 'Seg_L3_Num': 1,
 'Seg_L3_STR': 'BOE',
 'TransactionAmount': -275.0,
 'TransactionDate': '2020-03-01T00:00:00.000Z',
 'companyindex': 1,
 'companyname': 'CHECKERS',
 'franchisename': 'CHECKERS SANDTON',
 'period': 202003,
 'channel': 2.0,
 'class_id': 4922.0,
 'dayname': 'Sunday',
 'db': 'CMProd202003',
 'dbprefix': 'CMProd',
 'discretionary': 1.0,
 'division_id': 49.0,
 'group_id': 492.0,
 'month': 3,
 'subclass_id': 49222.0,
 'universaldate': 1,
 'weekday': 6,
 'weekth': 1}

In [231]:
df = df.append(add_dict, ignore_index=True)
print(df.tail())

                                   _id  Dedupegroup  Seg_L3_Num Seg_L3_STR  \
56  ObjectId(5e93f2fa29010000bebe79bb)           10           1        BOE
57  ObjectId(5e93f2fa29010000bebe7991)            6           1        BOE
58  ObjectId(5e93f2fa29010000bebe796f)            2           1        BOE
59  ObjectId(5e93f2fa29010000bebe7973)            3           1        BOE
60  ObjectId(5e93f2fa29010000bebe796b)            2           1        BOE

    TransactionAmount           TransactionDate  companyindex companyname  \
56            -359.80  2020-03-01T00:00:00.000Z           3.0        SPAR
57            -234.44  2020-03-01T00:00:00.000Z           2.0         PNP
58             -89.70  2020-03-01T00:00:00.000Z           4.0       TOTAL
59            -700.00  2020-03-01T00:00:00.000Z           5.0  WOOLWORTHS
60            -275.00  2020-03-01T00:00:00.000Z           1.0    CHECKERS

         franchisename  period  ...            db  dbprefix discretionary  \
56        SPAR SANDTON  202003  ...  CMProd202003    CMProd           0.0
57         PNP SANDTON  202003  ...  CMProd202003    CMProd           1.0
58       TOTAL BENMORE  202003  ...  CMProd202003    CMProd           NaN
59  WOOLWORTHS BENMORE  202003  ...  CMProd202003    CMProd           NaN
60    CHECKERS SANDTON  202003  ...  CMProd202003    CMProd           1.0

   division_id group_id  month  subclass_id  universaldate  weekday  weekth
56        45.0    455.0      3      45500.0              1        6       1
57        47.0    471.0      3      47110.0              1        6       1
58         NaN      NaN      3          NaN              1        6       1
59         NaN      NaN      3          NaN              1        6       1
60        49.0    492.0      3      49222.0              1        6       1

[5 rows x 23 columns]

In [232]:
df.to_csv(path_or_buf='/media/lnr-ai/christo/github_repos/graphing/data/clientswipes_202003_sandbox_case2.csv',index=False)

In [152]:
companylist=["PNP","SPAR", "CHECKERS","WOOLWORTHS","TOTAL"]
franchiselist=["BENMORE","SANDTON","WOODMEAD","COLUMBINE"]
benmore_list=[c + " " +"BENMORE" for c in companylist]
sandton_list=[c + " " +"SANDTON" for c in companylist]
alt_list_1=[c + " " +"FOURWAYS" for c in ["PNP","SPAR"]]
alt_list_2=[c + " " +"BROADACRES" for c in ["WOOLWORTHS","CHECKERS"]]
alt_list_3=[c + " " +"SANDTON" for c in ["PNP","SPAR"]]
alt_list_4=[c + " " +"BENMORE" for c in ["WOOLWORTHS","CHECKERS"]]

In [153]:
franchisenames=[item for item in benmore_list for i in range(10)]
random.shuffle(franchisenames)
blist=[item for item in sandton_list for i in range(10)]
random.shuffle(blist)
franchisenames.extend(blist)

In [155]:
clist=[item for item in alt_list_1 for i in range(5)]
elist=[item for item in alt_list_3 for i in range(5)]
dlist=[item for item in alt_list_2 for i in range(5)]
flist=[item for item in alt_list_4 for i in range(5)]
franchisenames.extend(clist)
franchisenames.extend(elist)
franchisenames.extend(dlist)
franchisenames.extend(flist)
companynames=[str.split(franchise)[0] for franchise in franchisenames]

In [157]:
sandboxdf=data.copy()

In [158]:
sandboxdf.Dedupegroup=Dedupegroup
sandboxdf.companyname=companynames
sandboxdf.franchisename=franchisenames
sandboxdf.loc[sandboxdf.companyname=="CHECKERS", "companyindex"]=1
sandboxdf.loc[sandboxdf.companyname=="PNP", "companyindex"]=2
sandboxdf.loc[sandboxdf.companyname=="SPAR", "companyindex"]=3
sandboxdf.loc[sandboxdf.companyname=="TOTAL", "companyindex"]=4
sandboxdf.loc[sandboxdf.companyname=="WOOLWORTHS", "companyindex"]=5

In [159]:
sandboxdf[['Dedupegroup','franchisename']]

     Dedupegroup       franchisename
0              1       TOTAL BENMORE
1              1         PNP BENMORE
2              1       TOTAL BENMORE
3              1  WOOLWORTHS BENMORE
4              1    CHECKERS BENMORE
..           ...                 ...
135            9    CHECKERS BENMORE
136            9    CHECKERS BENMORE
137            9    CHECKERS BENMORE
138            9    CHECKERS BENMORE
139            9    CHECKERS BENMORE

[140 rows x 2 columns]

In [160]:
set(sandboxdf.companyname)

{'CHECKERS', 'PNP', 'SPAR', 'TOTAL', 'WOOLWORTHS'}

In [161]:
sandboxdf.loc[sandboxdf.companyname=="CHECKERS", "companyindex"]=1
sandboxdf.loc[sandboxdf.companyname=="PNP", "companyindex"]=2
sandboxdf.loc[sandboxdf.companyname=="SPAR", "companyindex"]=3
sandboxdf.loc[sandboxdf.companyname=="TOTAL", "companyindex"]=4
sandboxdf.loc[sandboxdf.companyname=="WOOLWORTHS", "companyindex"]=5

In [162]:
df=sandboxdf.sample(n=80)

In [172]:
df.loc[df.Dedupegroup==2,['Dedupegroup','franchisename']]

     Dedupegroup          franchisename
127            2    CHECKERS BROADACRES
17             2       CHECKERS BENMORE
122            2  WOOLWORTHS BROADACRES
10             2          TOTAL BENMORE
11             2     WOOLWORTHS BENMORE
12             2          TOTAL BENMORE
128            2    CHECKERS BROADACRES
18             2            PNP BENMORE
124            2  WOOLWORTHS BROADACRES
120            2  WOOLWORTHS BROADACRES

In [173]:
df.to_csv(path_or_buf='/media/lnr-ai/christo/github_repos/graphing/data/clientswipes_202003_sandbox.csv',index=False)

In [ ]:
# crimes_header.csv
filename='/var/lib/neo4j/import/beats.csv'
beats = pd.read_csv(filename,nrows=10)
beats

In [ ]:
# crimes_header.csv
filename='/var/lib/neo4j/import/crimes_header.csv'
crimes_header_csv = pd.read_csv(filename,nrows=10)
crimes_header_csv

In [ ]:
filename='/var/lib/neo4j/import/crimes.csv'
crimes_csv = pd.read_csv(filename,nrows=10)
crimes_csv

In [ ]:
import csv
filename='/media/lnr-ai/christo/github_repos/graphing/data/clientswipes_202003_neo4j.csv'
with open(filename) as csv_file:
    csv_reader = csv.reader(csv_file, delimiter=',')
    line_count = 0

In [ ]:
    for row in csv_reader:
        if line_count == 0:
            print(f'Column names are {", ".join(row)}')
            line_count += 1
        else:
            print(f'\t{row[0]} works in the {row[1]} department, and was born in {row[2]}.')
            line_count += 1
    print(f'Processed {line_count} lines.')

In [ ]:
dedupegroup_list=list(set(df.Dedupegroup))

In [ ]:
for dedupestatic in list(set(dedupegroup_list)):
    print('Doing dedupestatic: ', dedupestatic, ' at index: ', dedupegroup_list.index(dedupestatic), ' of ', len(dedupegroup_list))        
    client_param_dict={"dedupestatic":dedupestatic}
    graph.run("MERGE (client:Client {dedupestatic:{dedupestatic}})", client_param_dict)

In [ ]:
for dedupe in dedupegroup_list:
    gf=df[df.Dedupegroup==dedupe].copy()
    print('Doing dedupestatic: ', dedupe, ' at index: ', dedupegroup_list.index(dedupe), ' of ', len(dedupegroup_list))    
    for dedupestatic,companyname,franchisename,companyindex,class_id,discretionary,division_id,group_id,subclass_id,channel,TransactionAmount,TransactionDate in zip(gf.Dedupegroup, gf.companyname, gf.franchisename,gf.companyindex,gf.class_id,gf.discretionary,gf.division_id,gf.group_id,gf.subclass_id,gf.channel,gf.TransactionAmount,gf.TransactionDate):

        client_param_dict={"dedupestatic":dedupestatic}
        company_param_dict={"companyname":companyname,
                  "franchisename":franchisename,
                  "companyindex":companyindex,
                  "class_id":class_id,
                  "discretionary":discretionary,
                  "division_id":division_id,
                  "group_id":group_id,
                  "subclass_id":subclass_id,
                  "channel":channel}
        franchise_param_dict={
              "franchisename":franchisename,"companyname":companyname,}
        transaction_param_dict={"dedupestatic":dedupestatic,
              "franchisename":franchisename,
    #           "companyindex":companyindex,
              "amount":amount,
              "date":date}
        owner_param_dict={"companyname":companyname,
              "franchisename":franchisename}
    #   ------------------------------------------------------------------------------------------
        graph.run("MERGE (client:Client {dedupestatic:{dedupestatic}})", client_param_dict)
    #   ------------------------------------------------------------------------------------------    
        graph.run("""MERGE (franchise:Franchise 
        {
        franchisename:{franchisename},
        companyname:{companyname}})
        """, franchise_param_dict)
    #   ------------------------------------------------------------------------------------------
        graph.run("""
        MERGE (company:Company 
        {
        companyname: {companyname}, 
        companyindex: {companyindex}}) ON CREATE SET company.channel={channel},
        company.class_id={class_id},
        company.discretionary={discretionary},
        company.division_id={division_id},
        company.group_id={group_id},
        company.subclass_id={subclass_id},
        company.channel={channel}
        """, company_param_dict)
    #   ------------------------------------------------------------------------------------------
        graph.run("""MATCH (client:Client {dedupestatic:{dedupestatic}}),(franchise:Franchise { franchisename: {franchisename} })
        MERGE (client)-[t:transacted]->(franchise)
        ON CREATE SET t.amount=[{amount}], t.date=[{date}]
        ON MATCH SET t.amount=t.amount+{amount}, t.date=t.date+{date}""", transaction_param_dict)
    #   ------------------------------------------------------------------------------------------
        graph.run("""MATCH (franchise:Franchise {franchisename:{franchisename}}),(company:Company { companyname: {companyname} })
        MERGE (franchise)-[t:owned]->(company)""", owner_param_dict)

In [ ]:
dedupestatic=dedupegroup_list[0]
companyname=list(gf.companyname)[0]
franchisename=list(gf.franchisename)[0]
companyindex=list(gf.companyindex)[0]
class_id=list(gf.class_id)[0]
discretionary=list(gf.discretionary)[0]
division_id=list(gf.division_id)[0]
group_id=list(gf.group_id)[0]
subclass_id=list(gf.subclass_id)[0]
channel=list(gf.channel)[0]
amount=list(gf.TransactionAmount)[0]
date=list(gf.TransactionDate)[0]
# companyindex=list(gf.companyindex)[0]
# class_id=list(gf.class_id)[0]
# discretionary=list(gf.discretionary)[0]
# division_id=list(gf.division_id)[0]
# group_id=list(gf.group_id)[0]
# subclass_id=list(gf.subclass_id)[0]
# channel=list(gf.channel)[0]

In [ ]:
client_param_dict={"dedupestatic":dedupestatic}

In [ ]:
company_param_dict={"companyname":companyname,
          "franchisename":franchisename,
          "companyindex":companyindex,
          "class_id":class_id,
          "discretionary":discretionary,
          "division_id":division_id,
          "group_id":group_id,
          "subclass_id":subclass_id,
          "channel":channel}

In [ ]:
franchise_param_dict={
          "franchisename":franchisename,"companyname":companyname,}

In [ ]:
transaction_param_dict={"dedupestatic":dedupestatic,
          "franchisename":franchisename,
#           "companyindex":companyindex,
          "amount":amount,
          "date":date}

In [ ]:
owner_param_dict={"companyname":companyname,
          "franchisename":franchisename}

In [ ]:
graph.run("MERGE (client:Client {dedupestatic:{dedupestatic}})", client_param_dict)

In [ ]:
graph.run("""
MERGE (franchise:Franchise 
{
franchisename:{franchisename},
companyname:{companyname}})
""", franchise_param_dict)

In [ ]:
graph.run("""
MERGE (company:Company 
{
companyname: {companyname}, 
companyindex: {companyindex}}) ON CREATE SET company.channel={channel},
company.class_id={class_id},
company.discretionary={discretionary},
company.division_id={division_id},
company.group_id={group_id},
company.subclass_id={subclass_id},
company.channel={channel}
""", company_param_dict)

In [ ]:
graph.run("""MATCH (client:Client {dedupestatic:{dedupestatic}}),(franchise:Franchise { franchisename: {franchisename} })
MERGE (client)-[t:transacted]->(franchise)
ON CREATE SET t.amount=[{amount}], t.date=[{date}]
ON MATCH SET t.amount=t.amount+{amount}, t.date=t.date+{date}""", transaction_param_dict)

In [ ]:
graph.run("""MATCH (franchise:Franchise {franchisename:{franchisename}}),(company:Company { companyname: {companyname} })
MERGE (franchise)-[t:owned]->(company)""", owner_param_dict)